*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    background-image: url(https://lh3.googleusercontent.com/proxy/RTI7fn0FeP8r7rUYyAVhgaIJt6gKcOlCBIhzzAUpDnDCInogLLNX3HOp2fiBOyt0PBix0H8m6i-AzKe2-iTeHzBFSSR_IilkBFo2dzEOc6eoD0iAt1o-5WcHBdnph4opMbZOKzTFBrh2ARTYNwLP);
}

h1{
    margin: auto;
    margin-top: 200px;
    background-color: #c9cbff;
    color: #654062;
    padding: 20px;
    border-radius: 10px;
}

.button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 10px;
}

#yes{
    background: #9ad3bc;
    color: #222831;
    left: 20%;
    transform: translateY(-50%) translateX(-20%);
}

#no{
    background: #8f384d;
    color: #fff3e2;
    left: 80%;
    transform: translateY(-50%) translateX(-80%);

}